.chessboard {
  border: 6px red dotted;
  display: grid;
  /* width: 48vw; */
  /* height: 48vw; */
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.square {
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 4vw;
  width: 6vw;
  height: 6vw;
}

/* Uncomment to change tile color when hover over */
/* .square:hover{
  background-color: gold;;
} */


.black {
  background-color:rgb(30, 71, 46)

}

.white {
  background-color: rgb(203, 250, 190);
}

.colored {
  /* background-color: gold; */
  border:rgb(255, 0, 234) 4px dotted;

}

.potential-move {
  background-color: gold;;
}



.piece:hover {
  cursor: hand;
}

.piece {
  color:black;
  font-size:4vw;
}